<div class="tight-form">

	<!-- Right options (menu and delete) -->
	<ul class="tight-form-list pull-right">
		<li ng-show="parserError" class="tight-form-item">
			<a bs-tooltip="parserError" style="color: rgb(229, 189, 28)" role="menuitem">
				<i class="fa fa-warning"></i>
			</a>
		</li>

		<li class="tight-form-item small" ng-show="target.datasource">
			<em>{{target.datasource}}</em>
		</li>

		<li class="tight-form-item">
			<div class="dropdown">
				<a class="pointer dropdown-toggle" data-toggle="dropdown" tabindex="1">
					<i class="fa fa-bars"></i>
				</a>
				<ul class="dropdown-menu pull-right" role="menu">
					<li role="menuitem">
						<a tabindex="1" ng-click="duplicateDataQuery(target)">Duplicate</a>
					</li>
					<li role="menuitem">
						<a tabindex="1" ng-click="moveDataQuery($index, $index-1)">Move up</a>
					</li>
					<li role="menuitem">
						<a tabindex="1" ng-click="moveDataQuery($index, $index+1)">Move down</a>
					</li>
				</ul>
			</div>
		</li>

		<li class="tight-form-item last">
			<a class="pointer" tabindex="1" ng-click="removeDataQuery(target)">
				<i class="fa fa-remove"></i>
			</a>
		</li>
	</ul>

	<!-- Left options (refid and show/hide) -->
	<ul class="tight-form-list">
		<li class="tight-form-item" style="min-width: 15px; text-align: center">
			{{target.refId}}
		</li>
		<li>
			<a class="tight-form-item" ng-click="target.hide = !target.hide; get_data();" role="menuitem">
				<i class="fa fa-eye"></i>
			</a>
		</li>
	</ul>

	<!-- Actual options -->
	<ul class="tight-form-list" style="padding-left:65px" >
		<li>Projects:</li>
		<li class="tight-form-item last">
			<input type="text" class="tight-form-input input-xlarge" ng-model="target.project" placeholder="wikidata.org|meta.wikimedia.org"/>
		</li>
		<li class="tight-form-item last">
			Grouped:
			<input ng-model="target.groupprojects" type="checkbox" name="projects-grouped" id="projects-grouped" value="projects-grouped"/>
		</li>

	</ul>

	<div class="clearfix"></div>

	<ul class="tight-form-list" style="padding-left:65px" >

		<li>Pages:</li>
		<li class="tight-form-item last">
			<input type="text" class="tight-form-input input-xlarge" ng-model="target.page" placeholder="User:Addshore|User_talk:Addshore"/>
		</li>
		<li class="tight-form-item last">
			Grouped:
			<input ng-model="target.grouppages" type="checkbox" name="pages-grouped" id="pages-grouped" value="pages-grouped"/>
		</li>

	</ul>

	<div class="clearfix"></div>

	<ul class="tight-form-list" style="padding-left:65px" >
		<li>Access type:</li>
		<li class="tight-form-item last">
			Desktop:
			<input ng-model="target.access.desktop" type="checkbox" name="access-desktop" id="access-desktop" value="access-desktop"/>
		</li>
		<li class="tight-form-item last">
			Mobile-app:
			<input ng-model="target.access.mobileapp" type="checkbox" name="access-mobile-app" id="access-mobile-app" value="access-mobile-app"/>
		</li>
		<li class="tight-form-item last">
			Mobile-web:
			<input ng-model="target.access.mobileweb" type="checkbox" name="access-mobile-web" id="access-mobile-web" value="access-mobile-web"/>
		</li>
		<li class="tight-form-item last">
			Grouped:
			<input ng-model="target.access.grouped" type="checkbox" name="access-grouped" id="access-grouped" value="access-grouped"/>
		</li>
	</ul>
	
	<div class="clearfix"></div>
	
	<ul class="tight-form-list" style="padding-left:65px" >
		<li>Agent type:</li>
		<li class="tight-form-item last">
			User:
			<input ng-model="target.agent.user" type="checkbox" name="agent-user" id="agent-user" value="agent-user"/>
		</li>
		<li class="tight-form-item last">
			Spider:
			<input ng-model="target.agent.mobileapp" type="checkbox" name="agent-spider" id="agent-spider" value="agent-spider"/>
		</li>
		<li class="tight-form-item last">
			Bot:
			<input ng-model="target.agent.mobileweb" type="checkbox" name="agent-bot" id="agent-bot" value="agent-bot"/>
		</li>
		<li class="tight-form-item last">
			Grouped:
			<input ng-model="target.agent.grouped" type="checkbox" name="agent-grouped" id="agent-grouped" value="agent-grouped"/>
		</li>
	</ul>

	<div class="clearfix"></div>

</div>
